.label{
    color: rgb(255, 255, 255);
    background-color:#6e6ee4;
   position: absolute;
   z-index: 1000;
   margin-left: 10%;
   margin-top: 10%;
   border-radius: 10%;
   font-size: small;
   opacity: 0.7;
   padding: 1%;
  
}

.section{
    color: rgb(11, 138, 212);
    font-size: large;
    font-weight: bolder;
    margin-top: 10%;
    
    
}

.header {
    font-size: smaller;
    position: absolute;
    margin-top: 40%;
}

.footer{
    font-size: smaller;
}
